{
  "extends": ["next", "prettier", "plugin:tailwind/recommended"],
  "rules": {
    "import/prefer-default-export": 1,
    "no-console": "warn",
    "no-var": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "index",
          "sibling",
          "parent",
          "internal",
          "external",
          "builtin",
          "object",
          "type"
        ]
      }
    ]
  }
}
